.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    background-color: #d8bbe6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    align-content: start;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #9861cc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    list-style: none;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product-description {
    font-size: 1em;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #e64387;
}

.product-button {
    background-color: #a516f8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: auto;
    /* Asegura que el botón esté en la parte inferior */
}

.product-button:hover {
    background-color: #0056b3;
}