.search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px;
}

.search-input {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    margin-right: 0;
    box-sizing: border-box;
}

.search-button {
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    background-color: #4c647e;
    color: white;
    border: 2px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    box-sizing: border-box;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-images {
    height: 50px;
    width: 50px;
}

.search-results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: black;
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;

}

.search-results.hidden {
    display: none;

}

.search-results li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;

}

.search-results li:last-child {
    border-bottom: none;

}

.search-results img {
    margin-right: 10px;

}